*{
    margin: 0rem;
    padding: 0rem;
    background-image: linear-gradient(to right, rgb(220, 220, 112), rgb(196, 197, 189));
    font-family: Caveat;
    text-align: center;
    font-size: 1.5rem;
}
#heading{
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    padding-bottom: 2rem;
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
} 
#ipt{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1rem;
    padding: 0.5rem;
}
#ipt input{
    width: 50%;
        background-image: none;
        background-color: rgba(232, 229, 229, 0.685);

}
#ipt button{
    width: 15%;
}

#list{
    list-style: none;
    
    
}
.list_elements{
    
    /* border: 2px solid black; */
    margin: 1rem;
    padding: 0.5rem;
}
.list_elements{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-left: 10%;
    justify-content: space-between;
}
#ch{
width: 35px;
}
#item{
    background-image: none;
    flex-grow: 1;
    background-color: transparent;
}
.Del{
    width: 15%;
}

#list .list_elements .Del:hover {
    background-color: #ffcccc ;
    background-image: none;
    cursor: pointer;
}